.ce_div {
  display: inline-flex;
  align-items: center; }

.ce_button_bar {
  display: none;
  z-index: 1;
  position: relative;
  right: 10px;
  top: 5px;
  float: right; }
  .ce_button_bar #ce_menu_bar, .ce_button_bar #ce_lang_bar {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 15px; }
    .ce_button_bar #ce_menu_bar label, .ce_button_bar #ce_lang_bar label {
      margin: auto;
      font-size: x-small; }
    .ce_button_bar #ce_menu_bar p, .ce_button_bar #ce_lang_bar p {
      margin: auto; }
    .ce_button_bar #ce_menu_bar input[type=text]#ce_menu, .ce_button_bar #ce_lang_bar input[type=text]#ce_menu {
      border: 1px solid darkgray;
      margin: 0;
      font-size: medium;
      padding: 0 0 0 5px; }

.ce_content_styling {
  border: burlywood solid 2px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  height: 90vh;
  overflow: auto;
  display: none;
  margin-top: 5px; }

.CodeMirror {
  height: 90vh; }

.ce_data_report button {
  border-radius: 5px;
  margin-left: 10px;
  border: 2px solid transparent; }
  .ce_data_report button:hover {
    border: 2px solid #907a3a; }
  .ce_data_report button#ce_open_all {
    background-color: rgba(106, 231, 103, 0.3); }
  .ce_data_report button#ce_close_all {
    background-color: rgba(252, 143, 143, 0.5); }

.ce_data_report .ce_data_line {
  margin-top: 10px; }
  .ce_data_report .ce_data_line input:disabled {
    visibility: hidden; }
  .ce_data_report .ce_data_line .ce_user {
    color: blue; }
    .ce_data_report .ce_data_line .ce_user strong {
      color: black; }
  .ce_data_report .ce_data_line .ce_date {
    color: red; }
    .ce_data_report .ce_data_line .ce_date strong {
      color: black; }
  .ce_data_report .ce_data_line .ce_route {
    color: green; }
    .ce_data_report .ce_data_line .ce_route strong {
      color: black; }
  .ce_data_report .ce_data_line .ce_lang, .ce_data_report .ce_data_line .ce_upload {
    color: darkred; }
    .ce_data_report .ce_data_line .ce_lang strong, .ce_data_report .ce_data_line .ce_upload strong {
      color: black; }

.ce_data_report .ce_menu {
  color: darkblue; }
  .ce_data_report .ce_menu strong {
    color: black; }

.ce_data_report .Differences {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show; }
  .ce_data_report .Differences ins, .ce_data_report .Differences del {
    text-decoration: none; }
  .ce_data_report .Differences thead th {
    text-align: left;
    border-bottom: 1px solid #000;
    background: #aaa;
    color: #000;
    padding: 4px;
    flex: 1; }
  .ce_data_report .Differences tbody th {
    text-align: right;
    background: #ccc;
    width: 4em;
    padding: 1px 2px;
    border-right: 1px solid #000;
    vertical-align: top;
    font-size: 13px;
    flex: 1; }
  .ce_data_report .Differences td {
    padding: 1px 2px;
    font-family: Consolas, monospace;
    font-size: 13px;
    flex: 1; }
  .ce_data_report .Differences .Skipped {
    background: #f7f7f7; }

.ce_data_report .DifferencesSideBySide tbody th:nth-child(2), .ce_data_report .DifferencesSideBySide tbody td:nth-child(2), .ce_data_report .DifferencesSideBySide tbody th:nth-child(4), .ce_data_report .DifferencesSideBySide tbody td:nth-child(4) {
  flex: 10; }

.ce_data_report .DifferencesSideBySide .ChangeInsert td.Left {
  background: #dfd; }

.ce_data_report .DifferencesSideBySide .ChangeInsert td.Right {
  background: #cfc; }

.ce_data_report .DifferencesSideBySide .ChangeDelete td.Left {
  background: #f88; }

.ce_data_report .DifferencesSideBySide .ChangeDelete td.Right {
  background: #faa; }

.ce_data_report .DifferencesSideBySide .ChangeReplace .Left {
  background: #fe9; }

.ce_data_report .DifferencesSideBySide .ChangeReplace .Right {
  background: #fd8; }

.ce_data_report .DifferencesSideBySide .ChangeReplace ins, .ce_data_report .DifferencesSideBySide .ChangeReplace del {
  background: #fc0; }

.ce_data_report .DifferencesInline th:nth-child(3), .ce_data_report .DifferencesInline td:nth-child(3) {
  flex: 20; }

.ce_data_report .DifferencesInline .ChangeDelete .Left {
  background: #fdd; }

.ce_data_report .DifferencesInline .ChangeInsert .Right {
  background: #dfd; }

.ce_data_report .DifferencesInline .ChangeReplace .Right {
  background: #dfd; }

.ce_data_report .DifferencesInline .ChangeReplace .Left {
  background: #fdd; }

.ce_data_report .DifferencesInline .ChangeReplace ins {
  background: #9e9; }

.ce_data_report .DifferencesInline .ChangeReplace del {
  background: #e99; }

.ce_lang_selector[data-selected=true] {
  background-color: rgba(156, 243, 137, 0.55); }

.ce_item_line {
  border: 3px solid transparent;
  padding: 5px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content; }
  .ce_item_line:hover, .ce_item_line[data-selected=true] {
    border: 3px solid burlywood;
    border-radius: 10px; }
  .ce_item_line[data-selected=true] {
    background-color: rgba(137, 232, 243, 0.2); }
  .ce_item_line .ce_item_name {
    color: blue; }
  .ce_item_line .ce_item_count {
    color: green;
    border: 1px solid gold;
    border-radius: 10px; }

#ce_editing_container {
  border: 2px solid burlywood;
  border-radius: 5px;
  padding: 5px; }
